body {
  margin: 0;
  font-family: 'Quicksand', sans-serif; }

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/img/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  header nav .nav-link {
    color: white !important; }
  header .main-logo {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px; }

.main-section {
  padding: 0; }
  .main-section #main-datos {
    font-weight: 400; }
    .main-section #main-datos h2 {
      font-size: 1.2em; }
  .main-section .rrss {
    width: 32px;
    margin: 5px 10px; }
  .main-section #mapa-datos {
    padding: 50px;
    color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(163%2c 104%2c 49%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c591.927C108.307%2c605.46%2c165.168%2c458.895%2c257.006%2c399.909C348.878%2c340.901%2c478.676%2c337.243%2c538.618%2c245.978C600.323%2c152.03%2c603.33%2c25.958%2c573.853%2c-82.508C545.843%2c-185.576%2c464.967%2c-263.8%2c381.85%2c-330.875C308.946%2c-389.708%2c215.567%2c-404.054%2c129.514%2c-441.083C29.027%2c-484.323%2c-58.969%2c-587.289%2c-166.428%2c-566.8C-273.47%2c-546.39%2c-348.935%2c-440.564%2c-393.869%2c-341.29C-433.741%2c-253.198%2c-402.938%2c-153.619%2c-397.129%2c-57.099C-392.519%2c19.508%2c-394.753%2c95.909%2c-363.343%2c165.933C-331.789%2c236.278%2c-268.831%2c281.798%2c-218.799%2c340.457C-145.204%2c426.741%2c-112.532%2c577.866%2c0%2c591.927' fill='%23935e2c'%3e%3c/path%3e%3cpath d='M1440 995.063C1535.008 979.087 1630.621 1027.488 1723.118 1000.54 1836.13 967.616 1956.399 923.606 2021.618 825.616 2089.776 723.211 2128.548 580.204 2077.315 468.368 2025.7530000000002 355.81399999999996 1856.114 362.91499999999996 1769.2440000000001 274.708 1691.215 195.478 1710.886 30.837999999999965 1607.098-9.085000000000036 1505.164-48.29499999999996 1410.131 71.356 1303.643 95.61099999999999 1186.9850000000001 122.18200000000002 1032.835 48.875 954.725 139.50599999999997 876.555 230.207 945.881 372.788 962.575 491.35699999999997 975.0509999999999 579.969 1021.775 655.146 1039.6689999999999 742.825 1064.684 865.396 982.437 1040.603 1088.278 1107.29 1194.55 1174.249 1316.131 1015.892 1440 995.063' fill='%23b37236'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); }

.map-responsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
