body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/img/hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    nav {
        .nav-link {
            color: white !important;
        }
    }
    .main-logo {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 200px;
    }
}

.main-section {
    margin: 50px;
    #main-datos {
        font-weight: 400;
        h2 {
            font-size: 1.2em;
        }
    }
    .rrss {
        width: 32px;
        margin: 5px 10px;
    }
}

.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
    iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}
